/*-----------------
# About
------------------*/
.about {
  height: 500px;
}
.container {
  display: flex;
  flex-flow: column nowrap;
}
.row {
  justify-content: center;
}
.logo {
  max-width: 30%;
  height: auto;
  margin-top: 20px;
}
.title {
  margin-top: 20px;
  font-size: larger;
  font-weight: 700;
}

.container p {
  font-size: medium;
}
